apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    app: mealie-app
  name: mealie-app
spec:
  ports:
  - port: 9000
    protocol: TCP
    targetPort: 9000
  selector:
    app: mealie-app
  type: LoadBalancer
status:
  loadBalancer: {}
